# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pth
*.h5

# Virtual environment
venv/
env/
.venv/
.env/

# PyTorch / checkpoints
*.pt
*.pth

# Jupyter Notebook
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Gradio cache (if any)
*.tmp
